@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
	margin: 0;
	box-sizing: border-box;
}

h1 {
	color: #E0D90F;
	background-color: #0E7F18;
	font-family: Roboto;
	font-size: 40px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
		line-height: 2
}

h2 {
	color: #0E7F18;
	font-family: Roboto;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
		line-height: 2
}

body {
	color: #0E7F18;
	font-family: Raleway,sans-serif;
	background-color: #b2e0e8;
	font-size: 25px;
	margin: 40;
	}

p {
	color: #0E7F18;
	font-family: Raleway,sans-serif;
	font-size: 25px;
	font-family: Helvetica
	line-height: 1
	margin: 50;
	
}

header
{ 
	background-color: #FFED74;
	border: 1px black solid;
	padding: 1px;
}

nav {
	background-color: #aaaaaa;
	float: right;

}

nav a {
	background-color: #ff7900;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	width: 200px;
	
}

a:hover {
		background-color: #aaaaaa;
	}

main {
	background-color: #b2e0e8;

}

#content{
    border: 2px solid red;
    width: 60%;
    display: inline-block;
}

aside {
	border: 2px solid blue;
	width: 20%;
    margin-left: 88px;
    vertical-align: top;
    display: inline-block;
}

footer
{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 10px;
}	

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}