h1 {
	color: #E0D90F;
	font-size: 45px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	background-color: #0E7F18;
	line-height: 5
}

body {
	color: #E0D90F;
	background-color: #b2e0e8;
	}

p {
	color: #0E7F18;
	font-size: 20px;
	line-height: 1
	
}
	 